/*
  work : 본 .scss 파일은 임의의 기본형 html에 연결되어있다.
  1. 마크업 구조
  ul>li{menu-$}*5
  구조로 골격을 갖추었다.

  2. 아래의 scss 작성이 의미하는 바는 무엇이 될지 직관적으로 추측해보기 
*/
*{margin:0; padding:0; box-sizing: border-box;}
$colors : (#111, #222, #333, #444, #555);
ul {
  $index : 0;
  @each $color-value in $colors {
    & > li:nth-child(#{$index + 1}) {
      background-color: $color-value;
      $index:$index + 1;
    }
  }
}

